h1,
h2 {
  font-family: Lato;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}
